[submodule "packages/lit-component"]
	path = packages/lit-component
	url = https://github.com/iujunhyung/lit-component
[submodule "packages/react-layout"]
	path = packages/react-layout
	url = https://github.com/iujunhyung/react-layout
